<div class="welcome">
    <div class="home-content">
        <div class="title">
            <h1>{{ title }}</h1>
        </div>
        <div>
            <div class="comp-blocks">
                <ng-container *ngFor="let slice of slices | slice: 0 : 2 ">
                    <div class="block">
                        <a routerLink="{{ slice.title }}"
                           routerLinkActive="active">
                            <h2>{{ replace(slice.title) | titlecase }}</h2>
                        </a>
                        <ng-container *ngFor="let item of slice.items" class="gallery-item">
                            <a routerLink="{{ item.item}}" routerLinkActive="active">
                                <p>{{ replace(item.item) }}</p>
                            </a>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div class="comp-blocks">
                <ng-container *ngFor="let slice of slices | slice : 2 : 5">
                    <div class="block">
                        <a routerLink="{{ slice.title }}"
                           routerLinkActive="active">
                            <h2>{{ replace(slice.title) }}</h2>
                        </a>
                        <ng-container *ngFor="let item of slice.items" class="gallery-item">
                            <a routerLink="{{ item.item}}" routerLinkActive="active">
                                <p>{{ replace(item.item) }}</p>
                            </a>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
