<footer class="page-footer font-small cyan darken-3 ftr">
    <div class="container">
        <div class="row">
            <div class=" col-md-12 ftr-icn">
                <div class=" flex-center">
                    <a href="">
                        <fa-icon [icon]="['fab', 'facebook']" class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></fa-icon>
                    </a>
                    <a href="https://github.com/guuse">
                        <fa-icon [icon]="['fab', 'github']" class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></fa-icon>
                    </a>
                    <a href="">
                        <fa-icon [icon]="['fab', 'linkedin']" class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center cpyrght">© 2018 Copyright: Guus Ekkelenkamp
        |
        <a href="#">Portfolio</a>
        |
        <a href="#">Connect Holland</a>
    </div>
</footer>
