.desc {
  height: 70%;
  margin-top: 1vh;
  margin-left: 6vw;
}

.desc img {
  text-align: center;
  margin-top: 1vh;
  max-height: 50vh;
  width: auto;
}

img:hover {
  box-shadow: 1px 1px 5px #999;
  transition: all .2s ease;
  cursor: pointer;
}

p {
  font-size: 80%;
  margin-bottom: 1vh;
  text-align: left;
}
