<footer class="ftr">
    <div class="ftr-icn">
            <a href="mailto:ekkelenkampguus@gmail.com" target="_blank">
                <fa-icon [icon]="['fas', 'envelope']" class="mr-md-5 mr-3 fa-2x"></fa-icon>
            </a>
            <a href="https://github.com/guuse" target="_blank">
                <fa-icon [icon]="['fab', 'github']" class="mr-md-5 mr-3 fa-2x"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/guus-ekkelenkamp-274b17175" target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']" class="mr-md-5 mr-3 fa-2x"></fa-icon>
            </a>
    </div>

    <div class="footer-copyright text-center cpyrght">© 2018 Copyright: Guus Ekkelenkamp
        |
        <a href="https://guusekkelenkamp.nl" target="_blank">Portfolio</a>
        |
        <a href="https://connectholland.nl" target="_blank">Connect Holland</a>
        |
        <a href="https://stageverslag.prismic.io/documents/working/" target="_blank">Prismic API</a>
    </div>
</footer>
