.ftr {
    text-align: center;
    width: 100%;
    padding-top: 1%;
    margin-top: 1%;
    background: linear-gradient(to top, rgba(82,82,82,0.2) 0%,rgba(82,82,82,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#00000000',GradientType=0 );
}

.ftr-icn {
    margin-bottom: 1%;
}

.cpyrght {
    margin-right: 2%;
    padding-bottom: 1%;
}

.ftr a {
    text-decoration: none;
    color: black;
}

.cpyrght a {
    text-decoration: underline;
}
