<footer class="page-footer font-small cyan darken-3 ftr">
    <div class="container">
        <div class="row">
            <div class=" col-md-12 ftr-icn">
                <div class=" flex-center">
                    <a href="mailto:ekkelenkampguus@gmail.com">
                        <fa-icon [icon]="['fas', 'envelope']" class="mr-md-5 mr-3 fa-2x"></fa-icon>
                    </a>
                    <a href="https://github.com/guuse">
                        <fa-icon [icon]="['fab', 'github']" class="mr-md-5 mr-3 fa-2x"></fa-icon>
                    </a>
                    <a href="">
                        <fa-icon [icon]="['fab', 'linkedin']" class="mr-md-5 mr-3 fa-2x"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center cpyrght">© 2018 Copyright: Guus Ekkelenkamp
        |
        <a href="http://guusekkelenkamp.nl">Portfolio</a>
        |
        <a href="https://connectholland.nl">Connect Holland</a>
        |
        <a href="https://stageverslag.prismic.io/documents/working/">Prismic API</a>
    </div>
</footer>
