@import "~src/styles";

.ftr {
    z-index: 10;
    text-align: center;
    width: 100%;
    position: sticky;
    padding-top: 1%;
    margin-top: 1%;
    background: linear-gradient(0deg, rgba($midnight, .5), rgba($midnight, .1) 40%, rgba($grayNurse, 0) 100%);
}

.ftr-icn {
    margin-bottom: 1%;
}

.cpyrght {
    margin-right: 2%;
    padding-bottom: 1%;
}

.ftr a {
    text-decoration: none;
    color: $midnight;
}

.cpyrght a {
    text-decoration: underline;
}
