<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div class=nav-heading>
    <a (click)="goBack()"> &larr; </a>
</div>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>Guus Ekkelenkamp <span>Web Developer</span></li>
        <li routerLink="/home" routerLinkActive="active">
            <a>HOME</a>
        </li>
        <li routerLink="/stage" routerLinkActive="active">
            <a>STAGE</a>
        </li>
        <li routerLink="/documenten" routerLinkActive="active">
            <a>DOCUMENTEN</a>
        </li>
        <li routerLink="/competenties" routerLinkActive="active">
            <a>COMPETENTIES</a>
        </li>
    </ul>
</div>

