.dropdown {
    cursor: pointer;
    vertical-align: center;
}

.dropdown-menu {
    background: white;
    background: linear-gradient(to bottom, #f3f4f5 0%, #e9eaeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
}

.navbar {
    padding-left: 10vw;
    text-transform: capitalize;
    background: linear-gradient(to bottom, rgba(82,82,82,0.2) 0%,rgba(82,82,82,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#00000000',GradientType=0 );
    z-index: 1;

    @media screen and (max-width: 768px) {
        padding-left: 18px;
    }
}

li {
    font-size: 120%;
}

@media only screen and (max-width: 769px) {
    .navbar{
        top: 2vh;
    }
}

.navbar-wrapper {
    text-align: center;
    width: 50%;
    p {
        width: 50%;
        text-align: left;
    }
    a {
        text-align: left;
    }
}
