.navbar {
    padding-left: calc(18vw - 8px);
    text-transform: capitalize;
    background: rgba(82, 82, 82, 0.8);
    z-index: 1;
    border-bottom: 2px solid rgba(248, 249, 250, .5);
    border-top: 1px solid rgba(248, 249, 250, .5);

    @media screen and (max-width: 991px) {
        padding-left: 36px;
        border: 0;
        font-size: 60%;

        a {
            @media screen and (max-width: 991px) {
                padding-bottom: 0;

            }
        }
    }
}

.mob-title {
    color: white;
    margin-bottom: 0;
    margin-right: 25px;
    height: 35px;
    border: 0;
    margin-top: 13px;
    text-align: center;
    transform: scale(1.5);

    h2 {
        font-size: 120%;
    }
}

li {
    font-size: 120%;
}

@media only screen and (max-width: 991px) {
    .navbar{
        top: 2vh;
    }
}

.navbar-wrapper {
    text-align: center;
    width: 50%;

    p {
        width: 50%;
        text-align: left;
    }
    a {
        text-align: left;
        color: rgba(248, 249, 250, .8);
    }

    @media screen and (max-width: 991px) {
        border-radius: 3px;
        margin-top: -4px;
    }
}

.dropdown {
    cursor: pointer;
    vertical-align: center;
}

.navbar-nav .nav-link.active {
    color: rgb(248, 249, 250);
    font-weight: 900;
}

.navbar-nav .nav-link:hover {
    color: rgb(248, 249, 250);
    font-weight: 900;
}

.dropdown-menu {
    background: #747474;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 8px;
    border-bottom: 2px solid rgba(248,249,250,.5);
    border-left: 2px solid rgba(248,249,250,.5);
    border-right: 2px solid rgba(248,249,250,.5);

    @media screen and (max-width: 991px) {
        border: 0;
        margin-top: -8px;
        background: 0;
        font-size: 80%;
    } }
