<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div class="logo">
    <h2 class="headerTitle">GUUS EKKELENKAMP</h2>
</div>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li style="cursor: default">Guus Ekkelenkamp <span>Stageverslag</span></li>
        <li>
            <a routerLink="/home" routerLinkActive="active">HOME</a>
        </li>
        <li>
            <a routerLink="/stage" routerLinkActive="active">STAGE</a>
        </li>
        <li>
            <a routerLink="/documenten" routerLinkActive="active">DOCUMENTEN</a>
        </li>
        <li>
            <a routerLink="/competenties" routerLinkActive="active">COMPETENTIES</a>
        </li>
    </ul>
</div>

