@import "~src/styles";

.header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    background: linear-gradient(180deg, $midnight, rgba($midnight, 1) 90%, rgba($midnight, 0) 100%);
    height: 70px;
}

.desktop {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    line-height: 63px;

    a {
        letter-spacing: 3px;
        font-weight: 600;
        color: $grayNurse;
        flex: 1;
        font-size: 18px;
        padding: 0 25px;

        &:hover,
        &.active{
            text-decoration: none;
            border-bottom: 5px solid $turquoise;
            background-color: rgba($turquoise, 0.5);
        }
    }

    @media screen and (max-width: $tabletbreakpoint) {
        display: none;
    }
}

.mobile {
    display: none;

    @media screen and (max-width: $tabletbreakpoint) {
        display: inherit;
    }
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    z-index: 99;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, $midnight 40%, rgba($midnight, .9) 50%, rgba($midnight, 0) 60%);

    @media screen and (max-width: $mobilebreakpoint) {
        background: linear-gradient(180deg, $midnight 60%, rgba($midnight, .9) 70%, rgba($midnight, 0) 90%);
    }
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba($midnight, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: $grayNurse;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba($midnight, 0.10);
}

.sidebarMenuInner li span {
    font-size: 14px;
    color: rgba($grayNurse, 0.50);
}

.sidebarMenuInner li a {
    color: $grayNurse;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 25px 0;
    padding-right: 150px;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $grayNurse;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle {
    transition: all 0.3s;
    transform: translateX(220px);

    @media screen and (max-width: $tabletbreakpoint) {
        transform: translateX(240px);
    }
}

input[type=checkbox]:checked ~ .logo > a {
    transition: all 0.3s;
    opacity: 0;
}

input[type=checkbox] ~ .logo > a {
    transition: all 0.3s;
    opacity: 1;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 24px;
    left: 40px;
    height: 22px;
    width: 22px;

    @media screen and (max-width: $mobilebreakpoint) {
        left: 10px;
    }
}

.logo {
    position: fixed;
    z-index: 10;
    width: 100%;
    text-align: center;

    a {
        font-size: 24px;
        line-height: 63px;
        color: $grayNurse;

        &:hover {
            color: $grayNurse;
            text-decoration: none;
            border-bottom: 2px solid $grayNurse;
        }
    }

}
