<div class="welcome" *ngIf="stage.data">
    <div class="text">
        <div class="title">
            <h1>{{PrismicDOM.RichText.asText(stage.data.title)}}</h1>
        </div>
        <div class="row justify-content-center px-4">
            <div class="desc col-md-8">
                <div [innerHTML]="PrismicDOM.RichText.asHtml(stage.data.content_block)"></div>
            </div>
        </div>
    </div>
    <div *ngFor="let slice of stage.data.body" class="px-4">
        <div [ngSwitch]="slice.slice_type">
            <app-text *ngSwitchCase="'text'" [slice]="slice"></app-text>
            <app-image *ngSwitchCase="'image'" [slice]="slice"></app-image>
            <app-documenten-lijst *ngSwitchCase="'documenten'" [slice]="slice"></app-documenten-lijst>
        </div>
    </div>
</div>
