.modal-item{
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: modalBg;
  animation-duration: 1s;
}

.img-wrapper{
  display: inline-block;
  position: relative;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation-name: modal;
  animation-duration: 1s;
}

.img-wrapper img {
  max-height: 80vh;
  width: auto;
  animation-name: modal;
  animation-duration: 1s;
}

.text-wrapper{
  position: absolute;
  width: auto;
  height: 5vh;
  animation-name: text;
  animation-duration: 1s;
  margin: auto;
  bottom: 1%;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-wrapper h4{
  color: white;
  font-weight: 900;
}

.close-wrapper {
  position: absolute;
  top: 2vh;
  right: 2vw;
  transform: scale(1.2);
}

.close-btn {
  background: rgba(255, 255, 255, .8);
  border-radius: 25px;
  cursor:pointer;
  padding:6px 24px;
  font-weight: 900;
}
.close-btn:hover {
  background: rgba(255, 255, 255, 1);
}

@keyframes modalBg {
  from {background-color: rgba(0, 0, 0, 0);}
  to {background-color: rgba(0, 0, 0, .8);}
}

@keyframes text {
  from {
    bottom: -50%;
  }
  to {
    bottom: 1%;
  }
}

@keyframes modal {
  from {
    top: -50%;
  }
  to {
    top: 50%;
  }
}
