.dropdown {
    cursor: pointer;
    vertical-align: center;
}

.dropdown-menu {
    background: white;
    background: linear-gradient(to bottom, #f3f4f5 0%, #e9eaeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
}

.navbar {
    padding-left: 16%;
    text-transform: capitalize;
    background: linear-gradient(to bottom, rgba(82,82,82,0.2) 0%,rgba(82,82,82,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#00000000',GradientType=0 );
}

li {
    font-size: 120%;
}
