<div class="welcome" *ngIf="documenten.data">
    <div class="text">
        <div class="title">
            <h1>{{ PrismicDOM.RichText.asText(documenten.data.title )}}</h1>
        </div>
        <div class="desc">
            <div [innerHTML]="PrismicDOM.RichText.asHtml(documenten.data.content_block)"></div>
        </div>
    </div>
    <hr>
    <div *ngFor="let slice of documenten.data.body" class="slices">
        <div [ngSwitch]="slice.slice_type">
            <app-sub-title *ngSwitchCase="'sub-title'" [slice]="slice"></app-sub-title>
            <app-text *ngSwitchCase="'text'" [slice]="slice"></app-text>
            <app-image *ngSwitchCase="'image'" [slice]="slice"></app-image>
            <app-documenten-lijst *ngSwitchCase="'documenten'" [slice]="slice"></app-documenten-lijst>
        </div>
    </div>
</div>

