h1 {
    margin-bottom: 2%;
    margin-top: 100px;

    @media screen and (max-width: 991px) {
        margin-top: 50px;
    }
}

hr {
    margin: 20px -18px;

    @media screen and (max-width: 991px) {
        margin: 20px -6px;
    }
}

.text {
    margin: 0 25vw;

    @media screen and (max-width: 991px) {
        margin: 0 36px;
    }
}

.slices {
    margin: 0 18vw;

    @media screen and (max-width: 991px) {
        margin: 0 36px;
    }
}

.top-line {
    margin-top: 30px;
}

.bottom-line {
    margin-bottom: 75px;

    @media screen and (max-width: 991px) {
        margin-bottom: 50px;
    }
}
