<app-loader *ngIf="!loaded"></app-loader>
<div class="welcome" *ngIf="loaded">
    <div class="path">
        <ng-container *ngIf="body">
            <a routerLink="../{{ category }}" routerLinkActive="active"
               class="back">
                &larr;
            </a>
        </ng-container>
        <ng-container *ngIf="!body">
            <a routerLink="../../competenties" routerLinkActive="active" class="back">
                &larr;
            </a>
        </ng-container>
        <a routerLink="../../competenties" routerLinkActive="active">competenties</a>
        <ng-container *ngIf="body">
            >
            <a routerLink="../{{ category }}" routerLinkActive="active">
                {{replace(category)}}
            </a>
        </ng-container>
        >
        <a>
            {{title}}
        </a>
    </div>
    <div class="text">
        <div class="compTitle">
            <h1>{{title}}</h1>
        </div>
        <hr class="top-line">
        <div class="desc" *ngFor="let comp of competenties">
            <a routerLink="../{{comp.title}}" routerLinkActive="active">
                <ng-container *ngIf="!body">
                    <h3>
                        {{replace(comp.title)}}:
                    </h3>
                </ng-container>
            </a>
            <div [innerHTML]="comp.desc"></div>
        </div>
        <hr class="bottom-line">
    </div>
    <div *ngFor="let slice of slices" class="slices">
        <div [ngSwitch]="slice.type">
            <app-sub-title *ngSwitchCase="'sub-title'" [slice]="slice.slice"></app-sub-title>
            <app-text *ngSwitchCase="'text'" [slice]="slice.slice"></app-text>
            <app-image *ngSwitchCase="'image'" [slice]="slice.slice"></app-image>
            <app-documenten-lijst *ngSwitchCase="'documenten'" [slice]="slice.slice"></app-documenten-lijst>
        </div>
    </div>
    <ng-container *ngIf="body">
        <div class="toTop" id="toTop" (click)="toTop()">
            <a class="topButton">&uarr;</a>
        </div>
    </ng-container>
</div>
