<div class="welcome" *ngIf="content.data">
    <div class="path">
        <ng-container *ngIf="content.data.body[1]">
            <a routerLink="../{{ PrismicDOM.RichText.asText(content.data.competentie_cat) }}" routerLinkActive="active"
               class="back">
                &larr;
            </a>
        </ng-container>
        <ng-container *ngIf="!content.data.body[1]">
            <a routerLink="../../competenties" routerLinkActive="active" class="back">
                &larr;
            </a>
        </ng-container>
        <a routerLink="../../competenties" routerLinkActive="active">competenties</a>
        <ng-container *ngIf="content.data.body[1]">
            >
            <a routerLink="../{{ PrismicDOM.RichText.asText(content.data.competentie_cat) }}" routerLinkActive="active">
                {{replace(PrismicDOM.RichText.asText(content.data.competentie_cat))}}
            </a>
        </ng-container>
        >
        <a>
            {{PrismicDOM.RichText.asText(content.data.title)}}
        </a>
    </div>
    <div class="text">
        <div class="compTitle">
            <h1>{{PrismicDOM.RichText.asText(content.data.title)}}</h1>
        </div>
        <hr class="top-line">
        <div class="desc" *ngFor="let comp of content.data.competenties">
            <a routerLink="../{{PrismicDOM.RichText.asText(comp.comp_titel)}}" routerLinkActive="active">
                <ng-container *ngIf="!content.data.body[1]">
                    <h3>
                        {{replace(PrismicDOM.RichText.asText(comp.comp_titel))}}:
                    </h3>
                </ng-container>
            </a>
            <div [innerHTML]="PrismicDOM.RichText.asHtml(comp.comp_desc)"></div>
        </div>
        <hr class="bottom-line">
    </div>
    <div *ngFor="let slice of content.data.body" class="slices">
        <div [ngSwitch]="slice.slice_type">
            <app-sub-title *ngSwitchCase="'sub-title'" [slice]="slice"></app-sub-title>
            <app-text *ngSwitchCase="'text'" [slice]="slice"></app-text>
            <app-image *ngSwitchCase="'image'" [slice]="slice"></app-image>
            <app-documenten-lijst *ngSwitchCase="'documenten'" [slice]="slice"></app-documenten-lijst>
        </div>
    </div>
    <ng-container *ngIf="content.data.body[1]">
        <div class="toTop" id="toTop" (click)="toTop()">
            <a class="topButton">&uarr;</a>
        </div>
    </ng-container>
</div>
