.welcome {
    margin-top: 100px;

    @media screen and (max-width: 991px) {
        margin-top: 75px;
    }
}

.back {
    cursor: pointer;
    margin-right: 10px;
}

.back:hover {
    cursor: pointer;
    text-decoration: none;
}

.path {
    text-align: center;
    text-transform: lowercase;

    a:hover {
        cursor: pointer;
        font-weight: 900;
        color: #5F5F5F;
        text-decoration: none;
    }

    @media screen and (max-width: 991px) {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

h1 {
    margin-bottom: 2%;
    margin-top: 0;
}

hr {
    margin: 20px -18px;

    @media screen and (max-width: 991px) {
        margin: 20px -6px;
    }
}

.compTitle h1{
    @media screen and (max-width: 991px) {
        font-size: 36px;
        margin: 0;
    }
}

.text hr{
    margin: 0 25vw;

    @media screen and (max-width: 991px) {
        margin: 0 36px;
    }
}

.desc {
    margin: 0 25vw;

    @media screen and (max-width: 991px) {
        margin: 0 36px;
    }
}

.slices {
    margin: 0 18vw;

    @media screen and (max-width: 991px) {
        margin: 0 36px;
    }
}

.top-line {
    margin-top: 30px;
}

.bottom-line {
    margin-bottom: 75px;

    @media screen and (max-width: 991px) {
        margin-bottom: 50px;
    }
}
