<div class="welcome" *ngIf="content.data">
    <div class="text">
        <div class="compTitle">
            <h1>{{PrismicDOM.RichText.asText(content.data.title)}}</h1>
        </div>
        <hr>
        <div class="desc">
            <div [innerHTML]="PrismicDOM.RichText.asHtml(content.data.content_block)"></div>
        </div>
        <hr>
    </div>
    <div *ngFor="let slice of content.data.body" class="slices">
        <div [ngSwitch]="slice.slice_type">
            <app-sub-title *ngSwitchCase="'sub-title'" [slice]="slice"></app-sub-title>
            <app-text *ngSwitchCase="'text'" [slice]="slice"></app-text>
            <app-image *ngSwitchCase="'image'" [slice]="slice"></app-image>
            <app-documenten-lijst *ngSwitchCase="'documenten'" [slice]="slice"></app-documenten-lijst>
        </div>
    </div>
</div>
