@import "~src/styles";

.welcome {
    margin-top: 100px;

    @media screen and (max-width: $tabletbreakpoint) {
        margin-top: 75px;
    }
}

.compDesc {
    padding: 0 50px;

    @media screen and (max-width: $tabletbreakpoint) {
        padding: 0 25px;
    }
}

.back {
    cursor: pointer;
    margin-right: 10px;
}

.back:hover {
    cursor: pointer;
    text-decoration: none;
}

.path {
    text-align: center;
    text-transform: lowercase;

    a:hover {
        cursor: pointer;
        text-shadow: 1px 1px $scorpion;
        color: $scorpion;
        text-decoration: none;
    }

    @media screen and (max-width: $tabletbreakpoint) {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

h1 {
    margin-bottom: 2%;
    margin-top: 0;
}

hr {
    margin: 20px -18px;

    @media screen and (max-width: $tabletbreakpoint) {
        margin: 20px -6px;
    }
}

.compTitle h1 {
    @media screen and (max-width: $tabletbreakpoint) {
        font-size: 36px;
        margin: 0;
    }
}

.desc {
    h3 {
        text-transform: capitalize;
    }

    a:hover {
        cursor: pointer;
        font-weight: 900;
        color: $scorpion;
        text-decoration: none;
        text-shadow: 1px 1px $scorpion;

    }
}

.top-line {
    margin-top: 30px;
}

.bottom-line {
    margin-bottom: 75px;

    @media screen and (max-width: $tabletbreakpoint) {
        margin-bottom: 50px;
    }
}

.toTop {
    cursor: pointer;
    position: fixed;
    font-size: 150%;
    z-index: 99;
    bottom: 40px;
    right: 40px;
    background-color: rgba(195, 195, 195, .5);
    border-radius: 40%;

    @media screen and (max-width: $tabletbreakpoint) {
        right: -35px;
        bottom: 15px;
        margin-right: 50px;
        font-size: 100%;
        background-color: rgba(95, 95, 95, .3);

        a{
            color: $athensGray;
        }
    }
}

.topButton {
    display: inline-block;
    padding: 6px 20px;
    font-weight: 900;

    @media screen and (max-width: $tabletbreakpoint) {
        padding: 6px 13px;
    }
}
