@import "~src/styles/variables/colors";

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: $midnight;
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background: $grayNurse;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.75;
    letter-spacing: .8px;
}

::selection {
    background: $turquoise;
}

::-moz-selection {
    background: $turquoise;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
    font-family: 'Nunito', sans-serif;

    @media screen and (max-width: $tabletbreakpoint) {
        margin-top: 60px;
    }
}

h2 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: 'Nunito', sans-serif;
}

h3 {
    margin-top: 1rem;
    font-size: 120%;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    line-height: 1.9;
    margin-bottom: -5px;
}

h4 {
    font-size: 200%;
    text-align: left;
    margin-top: 3%;
    font-family: 'Nunito', sans-serif;
}

h6 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.9;
    font-family: 'Nunito', sans-serif;
}

a {
    color: $midnight;

    &:hover {
        color: $midnight;
        font-weight: 900;
    }
}

.map {
    margin-bottom: 2%;
}

.center-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}
