//nav items, background
//footer
$grayNurse: #EEF1EF;

//navbar
//Link hover color, navbar hover border, text color
//Link color
$midnight: #011627;

$alizatinCrimson: #E71D36;

//navbar hover
$turquoise: #2EC4B6;

//Text hover and shadow color competentie
//image hover shadow
$treePoppy: #FF9F1C;
