<app-loader *ngIf="!loaded"></app-loader>
<div class="welcome" *ngIf="loaded">
    <div class="home-content">
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="desc">
            <div class="desc-item">
                <p>{{description}}</p>
            </div>
            <div class="desc-item">
                <div class="box">
                    <img src="../../../assets/pics/Handgebaar.jpg" alt="Rondje">
                </div>
            </div>
        </div>
        <div class="home-blocks">
            <ng-container *ngFor="let slice of slices">
                <div class="block">
                    <div [innerHTML]="slice.text"></div>
                </div>
            </ng-container>
        </div>
    </div>
    <iframe
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?q=+51.90261986525479+,+4.459247589111327+&hl=es;z=14&amp;output=embed"
    >
    </iframe>
</div>
