/*@import '~bootstrap/dist/css/bootstrap.min.css';*/

html {
    font-size: 100%;
}

body {
    color: #71706f;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9;
    -webkit-font-smoothing: antialiased;
    background: #F8F9FA;
}

.content p {
    padding: 0 5% 1% 10%;
}

.welcome
p,
img {
    color: #71706f;
    padding: 0 5% 1% 10%;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 1%;
    margin-bottom: 2%;
}

h3 {
    font-size: 120%;
    padding: 1% 10% 1% 10%;
    font-weight: 700;
}

h6 {
    font-weight: 700;
    color: #525252;
    text-align: left;
    margin: 1% 10% 1% 10%;
}

a {
    color: #71706f;
}

strong {
    font-weight: 900;
    font-size: 120%;
    text-transform: uppercase;
}

img {
    text-align: center;
}

.map{
    margin-bottom: 2vh;
}
