body {
    color: #5f5e5d;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9;
    -webkit-font-smoothing: antialiased;
    background: #F8F9FA;
}

.welcome p {
    color: #5f5e5d;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin-top: 2%;
    margin-bottom: 5%;
    font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
    margin-top: 5%;
    font-size: 120%;
    font-weight: 700;
}

h6 {
    font-weight: 700;
    font-size: 100%;
    text-align: left;
    margin-bottom: 5%;
}

a {
    color: #5f5e5d;
}

strong {
    font-weight: 900;
    font-size: 120%;
    text-transform: uppercase;
}

.map {
    margin-bottom: 2%;
}
