@import "~src/styles";

.image {
    padding: 15px 25px;

    @media screen and (max-width: $tabletbreakpoint) {
        text-align: center;
        padding: 5px 15px;
    }

    p {
        font-size: 14px;
        margin: 0;
    }

    img {
        max-width: 500px;
        max-height: 500px;
        border-radius: 10px;
        transition: all .5s ease;

        @media screen and (max-width: $largemobilebreakpoint) {
            max-height: 300px;
            max-width: 300px;
        }

        &:hover {
            box-shadow: 0 15px 50px -15px $midnight;
            cursor: pointer;
            filter: blur(.8px) grayscale(100%);
        }
    }
}
